# Entorno virtual
.venv/
venv/
env/

# Caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Configuraciones de editores (VS Code, PyCharm)
.vscode/
.idea/

# Datos temporales o variables de entorno
.env
.streamlit/config.toml